@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('carousel') {
    .bx--carousel {
        display: flex;
        align-items: center;
    }
    .bx--carousel-container {
        max-width: rem(600px);
        overflow: hidden;
    }
    .bx--carousel-filmstrip {
        display: flex;
        justify-content: space-between;
        transition: transform 100ms $bx--ease-in; 
        padding: rem(24px) 0;
    }
    .bx--carousel__btn {
        border: 0;
        background: transparent;
        cursor: pointer;

        &:last-of-type {
            transform: rotate(180deg);
        }

        svg {
            height: rem(24px);
            fill: $brand-01;
        }
    }
    .bx--carousel__item {
        margin-right: rem(20px);
        cursor: pointer;
    }
}