@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('carousel') {
    .bx--carousel {
        display: flex;
        justify-content: space-between;
    }
    .bx--carousel__item {
        margin-right: rem(20px);
    }
}