<div class="bx--carousel" data-carousel>
    <button class="bx--carousel__btn" data-scroll-left>
      <svg class="bx--pagination__button-icon" width="8" height="12" viewBox="0 0 8 12" fill-rule="evenodd">
        <path d="M7.5 10.6L2.8 6l4.7-4.6L6.1 0 0 6l6.1 6z"></path>
      </svg>
    </button>
    <div class="bx--carousel-container">
        <div class="bx--carousel-filmstrip">
            <img src="http://via.placeholder.com/256x144" class="bx--carousel__item" data-modal-target="#lightbox">
            <img src="http://via.placeholder.com/256x144" class="bx--carousel__item" data-modal-target="#lightbox">
            <img src="http://via.placeholder.com/256x144" class="bx--carousel__item" data-modal-target="#lightbox">
            <img src="http://via.placeholder.com/256x144" class="bx--carousel__item" data-modal-target="#lightbox">
            <img src="http://via.placeholder.com/256x144" class="bx--carousel__item" data-modal-target="#lightbox">
        </div>
    </div>
    <button class="bx--carousel__btn" data-scroll-right>
      <svg class="bx--pagination__button-icon" width="8" height="12" viewBox="0 0 8 12" fill-rule="evenodd">
        <path d="M7.5 10.6L2.8 6l4.7-4.6L6.1 0 0 6l6.1 6z"></path>
      </svg>
    </button>
</div>
<div id="lightbox" class="bx--modal" data-lightbox>
    <div class="bx--modal-container">
        <img src="http://via.placeholder.com/256x144" class="bx--lightbox__item">
        <img src="http://via.placeholder.com/256x144" class="bx--lightbox__item">
        <img src="http://via.placeholder.com/256x144" class="bx--lightbox__item">
        <img src="http://via.placeholder.com/256x144" class="bx--lightbox__item">
    </div>
</div>